
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Login/_LayoutPage1.cshtml";
}

<div class="padding-all">
    <div class="header">
        <h1>Login to Travel Agency</h1>
    </div>

    <p style="color:white; font-size:25px;">@ViewBag.Message</p>

    <div class="design-w3l">
        <div class="mail-form-agile">
            <form action="Index" method="post">
                <input type="text" name="Username" placeholder="Username" required="" />
                <input type="password" name="Password" class="padding" placeholder="Password" required="" />
                <input type="submit" value="login">
            </form>
        </div>
    </div>

    <div class="footer">
        <p>© 2020 Szymon Ptak. All Rights Reserved </p>
    </div>
</div>

