@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Agency</h1><br/>
    <p class="lead">An application supporting the management of a travel agency.</p><br/>
    <p>Feel free to create, edit, delete clients, destinations and add new orders to your database.</p><br/>
    <p>Manage your database as you like and help us create a better world.</p>
</div>


